---
const { encabezado = "", subtitulo = "", imagenUrl = "", testimonio = "", botonCTA = null } = Astro.props;
---
<header
  class="hero | margin-block-6"
  role="banner"
>
  <!-- contenido heroe -->
  <div class="hero__copy | even-columns" style="--grid-gap: 5rem">
    <div class="flow">
      <h1>{encabezado}</h1>
      
      {subtitulo &&
        <p style="--flow-spacer: 2rem">{subtitulo}</p>
      }
               
      {botonCTA && (
        <a 
          role="button"
          class="button margin-block-8"
          data-type="accent"
          href={botonCTA.enlace}
          aria-label={`Ir a ${botonCTA.texto}`}>
            {botonCTA.texto}
        </a>
      )}

      {testimonio &&
        <blockquote>
          {testimonio}
        </blockquote>
      }
  </div>
  
  <!-- img-->
  <div>
    {imagenUrl &&
      <img
        class="hero__img"
        src={imagenUrl}
        alt=""
        loading="lazy"
        aria-hidden="true"
      />
    }
  </div>
</header>