---
const { titulo, subtitulo, imagenUrl, orientacion, boton} = Astro.props;
// Verifica si hay un enlace y obtén el primer enlace del array
const enlace = boton?.enlace?.[0];
---

<section class="section container" data-type="">
  <article class={`split-image ${orientacion}`}>
    <figure class="split-image__figure">
      <img class="border-radius-1" src={imagenUrl} alt="" loading="lazy" />
    </figure>

    <div class="split-image__content | flow">
      <h2>{titulo}</h2>
      <p>{subtitulo}</p>
      {enlace && (
        <a
          href={`${enlace.slug.current}`}
          class="button"
          data-type="primary"
          role="button"
        >
          {boton.texto}
        </a>
      )}
    </div>
  </article>
</section>
